VITE_FIREBASE_API_KEY=AIzaSyBZ0s-h287bqlpbNKqH3ETg6UPNwxIBvos
VITE_FIREBASE_AUTH_DOMAIN=cylinder-tracking-system.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cylinder-tracking-system
VITE_FIREBASE_STORAGE_BUCKET=cylinder-tracking-system.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1011218948350
VITE_FIREBASE_APP_ID=1:1011218948350:web:9146108a28d5d33f4a05af
